@using Application.DTOs

@model List<ArtistDto>
@{
    ViewData["Title"] = "Cadastrar Artistas";
    int initialRows = 1;
}

<div class="text-center">
    <h2 class="display-4 m-4">Cadastrar Artistas</h2>
</div><br>

<form asp-controller="Artist" asp-action="Create" method="post" id="artistForm">
    <div id="artistInputs">
        @for (int i = 0; i < initialRows; i++)
        {
            <div class="input-group mb-3 bg-body text-white">
                <span class="input-group-text bg-body text-white">@(i + 1)</span>
                <input type="text" name="[@i].Name" class="form-control bg-body text-white"
                    placeholder="Digite o Nome do Artista"
                    value="@(Model != null && Model.Count > i ? Model[i].Name : "")" />
                @Html.ValidationMessageFor(x => x[i].Name)
            </div>
        }
    </div>

    <div class="mb-3">
        <button type="button" class="btn btn-outline-secondary"
            onclick="addDynamicRow('artistInputs', [
                { name: 'Name', placeholder: 'Digite o Nome do Artista' }
            ])">Adicionar Mais</button>
        <button type="button" class="btn btn-outline-danger"
            onclick="removeDynamicRow('artistInputs')">Remover</button>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a class="btn btn-secondary" role="button" asp-controller="Artist" asp-action="Index">Voltar</a>
</form>