@using Domain.Entities

@model Artist
@{
    ViewData["Title"] = "Excluir Artista";
}

<div class="text-center">
    <h3 class="display-5">Confirmar exclusão do Artista (@Model.Name)?</h3>
    <a class="btn btn-lg btn-secondary" role="button" asp-controller="Artist" asp-action="Index">Cancelar</a>
    <a class="btn btn-lg btn-danger" role="button" asp-controller="Artist" asp-action="Delete"
        asp-route-id="@Model.Id">Excluir</a>
</div>
