@using Domain.Entities

@model Artist
@{
    ViewData["Title"] = "Editar Artista";
}

<div class="text-center">
    <h2 class="display-4">Editar Artista</h2>
</div>

<form asp-controller="Artist" asp-action="Edit" method="post">
    <div class="mb-3 bg-dark">
        <label for="name" class="form-label">Nome do Artista</label>
        <input type="text" asp-for="Name" class="form-control bg-body text-white" placeholder="Digite o Nome do Artista">
        @Html.ValidationMessageFor(x => x.Name)
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a class="btn btn-secondary" role="button" asp-controller="Artist" asp-action="Index">Voltar</a>
</form>